.game {
  position: relative;
  background-color: gray;
  border: 1px solid black;

  .tile {
    z-index: 1;
    position: absolute;
    width: var(--size);
    height: var(--size);
  }

  .head {
    background-color: green;
  }

  .fruit {
    background-color: red;
  }

  .screen {
    display: none;
    z-index: 2;
  }

  &.start .screen.start {
    display: block;
  }

  &.pause .screen.pause {
    display: block;
  }

  &.loose .screen.loose {
    display: block;
  }
}
