.game {
  position: relative;
  background-color: gray;
  border: 1px solid black;

  .head {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: green;
  }

  .screen {
    display: none;
  }

  &.start .screen.start {
    display: block;
  }

  &.pause .screen.pause {
    display: block;
  }

  &.loose .screen.loose {
    display: block;
  }
}
